html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .column {
    width: 100%;
  }

  /* Asked AI for this fix */
  .span-box.evenly {
    width: 60%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

/* General / Default */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #D9E3F1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
  text-decoration: none;
  color: black;
}

/* Box Classes */
.span-box {
  padding: 25px 45px 25px 45px;
  font-family: "Courier New";
}

.padding-top {
  padding-top: 15px;
}

.mrg-bottom {
  margin-bottom: 20px;
}

.rounded {
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(223, 210, 166);
}

.rounded-pic {
  border: solid rgba(0, 108, 180, 0.897) 5px;
  border-radius: 50%;
}

.btn-box, .btn-box:link {
  margin-left: 100px;
  margin-right: 100px;
}

.btn-box:hover {
  background-color: rgb(222, 228, 155);
}

/* Content Alignment */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coldir {
  flex-direction: column;
}

.evenly {
  display:flex;
  justify-content: space-between;
}

.evenly .rounded-pic-link {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.rounded-pic-link:hover {
  width: 60px;
  height: 60px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Color classes */
.bg-dark {
  background-color: #212529;
}

.opacity {
  opacity: 0.5;
}



/* Portfolio Table styles */
.pf-style {
  font-family: Georgia;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

table {
  width: 80%;
  table-layout: fixed;
  word-wrap: break-word;
}

.col-1 {
  width: 5%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 45%;
}

.col-4 {
  width: 20%;
}